<div class="container-fluid">
    
    <h3>All Students</h3>
    <h4>Student List</h4>

<br>
    <!---------------- table-------------------------------------------------->
<!--------- Header Row ----------------------------------------------------->
    <div class="d-flex  justify-content-around table" style="overflow-x: auto;">
        <div>
            Username
        </div>

        <div>
            Phone Number
        </div>

        <div>
            Email
        </div>

        <div>
            Total Course
        </div>

        <div>
            Action
        </div>
    </div>

<!------------------------------------------------------------------>

<!--------------------Details Row ------------------------------->
<div class="d-flex mb-3 justify-content-around table-data bg-white" style="overflow-x: auto;">
    <div>
       <span class="heading"> Username : </span> Afif Hanifudin
    </div>

    <div>
        <span class="heading"> Phone Number : </span>  +6281325450623
    </div>

    <div>
        <span class="heading"> Email :  </span> uxninjaafif@gmail.com
    </div>

    <div>
        <span class="heading"> Total Course :  </span> 4 Course
    </div>

    <div>
        <button class="edit"> 
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.68184 2.96251L13.0375 6.31816L4.71227 14.6434C4.63377 14.7219 4.53023 14.7704 4.41967 14.7804L0.517574 15.998C0.222428 16.0248 -0.0248342 15.7776 0.0019973 15.4824L1.21957 11.5803C1.22962 11.4698 1.27812 11.3662 1.35662 11.2877L9.68184 2.96251Z" fill="#4A4A4A"/>
            <path d="M12.3664 0.277991C12.737 -0.0926638 13.338 -0.0926638 13.7086 0.277991L15.722 2.29138C16.0927 2.66204 16.0927 3.26299 15.722 3.63364L14.3797 4.97591L11.0241 1.62025L12.3664 0.277991Z" fill="#4A4A4A"/>
            </svg>
            Edit
        </button>
       
        <button class="text-center">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 17V7H4V17C4 18.1046 4.89543 19 6 19H14C15.1046 19 16 18.1046 16 17Z" fill="#FF7272"/>
                <path d="M7.44721 1.10557L6.5 3H2V5H18V3H13.5L12.5528 1.10557C12.214 0.428004 11.5215 0 10.7639 0H9.23607C8.47852 0 7.786 0.428005 7.44721 1.10557Z" fill="#FF7272"/>
            </svg>  
            Delete
        </button>
    </div>

    
</div>
<!------------------------------------------------------------------>

<!--------------------Details Row ------------------------------->
<div class="d-flex mb-3 justify-content-around table-data bg-white" style="overflow-x: auto;">
    <div>
       <span class="heading"> Username : </span> Afif Hanifudin
    </div>

    <div>
        <span class="heading"> Phone Number : </span>  +6281325450623
    </div>

    <div>
        <span class="heading"> Email :  </span> uxninjaafif@gmail.com
    </div>

    <div>
        <span class="heading"> Total Course :  </span> 4 Course
    </div>

    <div>
        <button class="edit"> 
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.68184 2.96251L13.0375 6.31816L4.71227 14.6434C4.63377 14.7219 4.53023 14.7704 4.41967 14.7804L0.517574 15.998C0.222428 16.0248 -0.0248342 15.7776 0.0019973 15.4824L1.21957 11.5803C1.22962 11.4698 1.27812 11.3662 1.35662 11.2877L9.68184 2.96251Z" fill="#4A4A4A"/>
            <path d="M12.3664 0.277991C12.737 -0.0926638 13.338 -0.0926638 13.7086 0.277991L15.722 2.29138C16.0927 2.66204 16.0927 3.26299 15.722 3.63364L14.3797 4.97591L11.0241 1.62025L12.3664 0.277991Z" fill="#4A4A4A"/>
            </svg>
            Edit
        </button>
       
        <button class="text-center">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 17V7H4V17C4 18.1046 4.89543 19 6 19H14C15.1046 19 16 18.1046 16 17Z" fill="#FF7272"/>
                <path d="M7.44721 1.10557L6.5 3H2V5H18V3H13.5L12.5528 1.10557C12.214 0.428004 11.5215 0 10.7639 0H9.23607C8.47852 0 7.786 0.428005 7.44721 1.10557Z" fill="#FF7272"/>
            </svg>  
            Delete
        </button>
    </div>

    
</div>
<!------------------------------------------------------------------>

</div>
