<div class="container-fluid">
    
    <h3>All Courses</h3>
    <h4>Course Category</h4>

    <select class="form-control mb-5">
        <option>Design</option>
      </select>

      

    <div class="d-flex flex-wrap data_container">

        <div class="d-flex flex-column">
            <img src="assets/study.jpg">
            <p>UiUx Design For Beginner</p>
            <!----------first row ------->
            <div class="row">
                <div class="col-4 text-left">
                    Instructure
                </div>

                <div class="col-8 text-right font-weight-bold">
                    Raja Zulham, S.Kam
                </div>
            </div>

            <!------- sec row --------->
            <div class="row">
                <div class="col-6 text-left">
                    Start Course
                </div>

                <div class="col-6 text-right font-weight-bold">
                    27,May 2021
                </div>
            </div>

            <!-------third row --------->

            <div class="row">
                <div class="col-6 text-left">
                    Total Student
                </div>

                <div class="col-6 text-right font-weight-bold">
                    2132
                </div>
            </div>

            <!-------------forth row ------->
            <div class="row">
                <div class="col-6 text-left">
                    Price Course
                </div>

                <div class="col-6 text-right font-weight-bold">
                    $299
                </div>
            </div>
            <!-------------------------------------------->
            <br>
            <button class="ml-4">
                View Course
            </button>
        </div>


<!---------------------------------------------------------------------------->

<div class="d-flex flex-column">
    <img src="assets/study.jpg">
    <p>UiUx Design For Beginner</p>
    <!----------first row ------->
    <div class="row">
        <div class="col-4 text-left">
            Instructure
        </div>

        <div class="col-8 text-right font-weight-bold">
            Raja Zulham, S.Kam
        </div>
    </div>

    <!------- sec row --------->
    <div class="row">
        <div class="col-6 text-left">
            Start Course
        </div>

        <div class="col-6 text-right font-weight-bold">
            27,May 2021
        </div>
    </div>

    <!-------third row --------->

    <div class="row">
        <div class="col-6 text-left">
            Total Student
        </div>

        <div class="col-6 text-right font-weight-bold">
            2132
        </div>
    </div>

    <!-------------forth row ------->
    <div class="row">
        <div class="col-6 text-left">
            Price Course
        </div>

        <div class="col-6 text-right font-weight-bold">
            $299
        </div>
    </div>
    <!-------------------------------------------->
    <br>
    <button class="ml-4">
        View Course
    </button>
</div>


<!------------------------------------------------------------------------------------>

<div class="d-flex flex-column">
    <img src="assets/study.jpg">
    <p>UiUx Design For Beginner</p>
    <!----------first row ------->
    <div class="row">
        <div class="col-4 text-left">
            Instructure
        </div>

        <div class="col-8 text-right font-weight-bold">
            Raja Zulham, S.Kam
        </div>
    </div>

    <!------- sec row --------->
    <div class="row">
        <div class="col-6 text-left">
            Start Course
        </div>

        <div class="col-6 text-right font-weight-bold">
            27,May 2021
        </div>
    </div>

    <!-------third row --------->

    <div class="row">
        <div class="col-6 text-left">
            Total Student
        </div>

        <div class="col-6 text-right font-weight-bold">
            2132
        </div>
    </div>

    <!-------------forth row ------->
    <div class="row">
        <div class="col-6 text-left">
            Price Course
        </div>

        <div class="col-6 text-right font-weight-bold">
            $299
        </div>
    </div>
    <!-------------------------------------------->
    <br>
    <button class="ml-4">
        View Course
    </button>
</div>
<!--------------------------------------------------------------------------->
<div class="d-flex flex-column">
    <img src="assets/study.jpg">
    <p>UiUx Design For Beginner</p>
    <!----------first row ------->
    <div class="row">
        <div class="col-4 text-left">
            Instructure
        </div>

        <div class="col-8 text-right font-weight-bold">
            Raja Zulham, S.Kam
        </div>
    </div>

    <!------- sec row --------->
    <div class="row">
        <div class="col-6 text-left">
            Start Course
        </div>

        <div class="col-6 text-right font-weight-bold">
            27,May 2021
        </div>
    </div>

    <!-------third row --------->

    <div class="row">
        <div class="col-6 text-left">
            Total Student
        </div>

        <div class="col-6 text-right font-weight-bold">
            2132
        </div>
    </div>

    <!-------------forth row ------->
    <div class="row">
        <div class="col-6 text-left">
            Price Course
        </div>

        <div class="col-6 text-right font-weight-bold">
            $299
        </div>
    </div>
    <!-------------------------------------------->
    <br>
    <button class="ml-4">
        View Course
    </button>
</div>

       
    </div>


</div>
