<div class="container-fluid">
    
    <h3>Edit Student</h3>
    <h4>identity informations</h4>
    <br>

    <div class="d-flex flex-wrap data_container">

        <div class="d-flex flex-column">
            <p>Fullname</p>
            <input class="form-control" type="text" value="Afif Hanifudin">
        </div>

        <div class="d-flex flex-column">
            <p>Username</p>
            <input class="form-control" type="text" value="Afif Hanifudin">
        </div>


        <div class="d-flex flex-column">
            <p>Phone Number</p>
            <input class="form-control" type="text" value="+6281325450623">
        </div>

        <div class="d-flex flex-column">
            <p>Email</p>
            <input class="form-control" type="text" value="Afif Hanifudin@gmail.com">
        </div>

        <div class="d-flex flex-column">
            <p>Registration Date</p>
            <input class="form-control" type="text" value="27,May 2021">
        </div>

        <div class="d-flex flex-column">
            <p>Total Courses</p>
            <select class="form-control">
                <option>Design</option>
              </select>
        </div>
    </div>


    <br><br>

    <button>
        Save Changes
    </button>

    <br>
</div>
